*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.btn {
   width: 100px;
   height: 20px;
}
.mainContainer{
   display: flex;
   flex-direction: row;
}
.function-container{
   margin-bottom: 20px;
}
.result-item{
   margin-left: 150px;
}